In [7]:
import tweepy
from twitter_authentication import bearer_token
import pandas as pd
import time

In [8]:
client = tweepy.Client(bearer_token, wait_on_rate_limit=True)

In [9]:
tweets = []
for response in tweepy.Paginator(client.search_all_tweets,
                                 query = "#AAPL OR $AAPL -is:retweet lang:en",
                                 tweet_fields=['created_at', 'text'],
                                 start_time= "2019-01-01T00:00:00Z",
                                 end_time = "2019-05-26T03:05:41Z",
                                 max_results=500):
    time.sleep(1);
    tweets.append(response)

Rate limit exceeded. Sleeping for 82 seconds.

In [10]:
result = []
for response in tweets:
    for tweet in response.data:
        result.append({'created_at': tweet.created_at,
                       'text': tweet.text})

df = pd.DataFrame(result)

In [11]:
df.to_csv("apple_tweets_3.csv")

In [12]:
df.describe()

<ipython-input-12-ea8415b8a3ee>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

,created_at,text
count,130401,130401
unique,127730,123142
top,2019-02-21 14:16:17+00:00,Join @RobinhoodApp and we'll both get a stock ...
freq,13,81
first,2019-01-01 00:12:41+00:00,NaN
last,2019-05-26 02:54:49+00:00,NaN