In [8]:
import tweepy
from twitter_authentication import bearer_token
import pandas as pd
import time

In [9]:
client = tweepy.Client(bearer_token, wait_on_rate_limit=True)

In [10]:
tweets = []
for response in tweepy.Paginator(client.search_all_tweets,
                                 query = "#GOOGL OR $GOOGL -is:retweet lang:en",
                                 tweet_fields=['created_at', 'text'],
                                 start_time= "2019-01-01T00:00:00Z",
                                 end_time = "2022-12-31T00:00:00Z",
                                 max_results=500):
    time.sleep(1);
    tweets.append(response)

Rate limit exceeded. Sleeping for 278 seconds.
Rate limit exceeded. Sleeping for 259 seconds.
Rate limit exceeded. Sleeping for 252 seconds.

In [11]:
result = []
for response in tweets:
    for tweet in response.data:
        result.append({'created_at': tweet.created_at,
                       'text': tweet.text})

df = pd.DataFrame(result)

In [12]:
df.to_csv("alphabet_tweets.csv")

In [13]:
df.describe()

<ipython-input-13-ea8415b8a3ee>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

,created_at,text
count,481385,481385
unique,475860,456226
top,2019-12-12 19:36:36+00:00,RT @GOK_HAN_38: #GLCVY \n#tsla #aapl #nvda #tw...
freq,15,593
first,2019-01-01 00:00:39+00:00,NaN
last,2022-12-30 23:58:58+00:00,NaN