In [3]:
import tweepy
from twitter_authentication import bearer_token
import pandas as pd
import time

In [4]:
client = tweepy.Client(bearer_token, wait_on_rate_limit=True)

In [5]:
tweets = []
for response in tweepy.Paginator(client.search_all_tweets,
                                 query = "#MSFT OR $MSFT -is:retweet lang:en",
                                 tweet_fields=['created_at', 'text'],
                                 start_time= "2019-01-01T00:00:00Z",
                                 end_time = "2022-12-31T00:00:00Z",
                                 max_results=500):
    time.sleep(1);
    tweets.append(response)

Rate limit exceeded. Sleeping for 300 seconds.
Rate limit exceeded. Sleeping for 290 seconds.
Rate limit exceeded. Sleeping for 290 seconds.
Rate limit exceeded. Sleeping for 292 seconds.
Rate limit exceeded. Sleeping for 298 seconds.
Rate limit exceeded. Sleeping for 258 seconds.

In [6]:
result = []
for response in tweets:
    for tweet in response.data:
        result.append({'created_at': tweet.created_at,
                       'text': tweet.text})

In [7]:
df = pd.DataFrame(result)

In [8]:
df.to_csv("microsoft_tweets.csv")

In [9]:
df.describe()

<ipython-input-9-ea8415b8a3ee>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

,created_at,text
count,842600,842600
unique,828314,794440
top,2020-08-27 16:50:03+00:00,RT @GOK_HAN_38: #GLCVY \n#tsla #aapl #nvda #tw...
freq,26,593
first,2019-01-01 00:10:29+00:00,NaN
last,2022-12-30 23:58:58+00:00,NaN